div.mail {
    height: 100%;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-y: auto;
}

.mail h2 {
    color: var(--accent);
    margin-bottom: 0.75rem;
    font-size: 1.3rem;
}

.mail p {
    color: var(--text-secondary);
    line-height: 1.4;
    max-width: 500px;
    font-size: .8rem;
}

.mail-img {
    margin: 1rem 0;
    width: 180px;
    min-height: 180px;
    border-radius: 16px;
    overflow: hidden;
}

.mail-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mail span.mail {
    color: var(--accent);
    font-weight: 600;
    cursor: pointer;
}

.mail span {
    user-select: text;
    -webkit-user-select: text;
}

.mail span.mail:hover {
    text-decoration: underline;
}

/* email button */

.open-mail {
    margin-top: 1rem;

    padding: 0.75rem 1.25rem;

    border: 1px solid var(--border);
    border-radius: 8px;

    background: var(--soft-bg);
    color: var(--text-primary);

    font-family: inherit;
    font-size: 0.7rem;

    cursor: pointer;

    transition:
        transform 0.15s ease,
        background-color 0.15s ease;
}

.open-mail:hover {
    transform: translateY(-2px);
    background: var(--accent)
}

.open-mail:active {
    transform: translateY(0);
}

/* mobile */

@media (max-width: 768px) {

    div.mail {
        padding: 1rem;
    }

    .mail-img {
        width: 140px;
        height: 140px;
    }

    .open-mail {
        width: 100%;
        max-width: 300px;
    }
}