.faq-page {
    height: 100%;
    padding: 1.5rem;
    width: 500px;
    overflow-y: auto;
}

.faq-item {
    border: 1px solid var(--border);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: .4rem;
    background-color: var(--window-bg);
}

/* question row */
.faq-question {
    cursor: pointer;
    padding: 1rem;
    font-size: 0.8rem;
    user-select: none;
    display: flex;
    align-items: center;
}

.faq-question::before {
    content: "[+]";
    color: var(--accent);
    margin-right: 7px;
    font-family: var(--font-mono);
}

.faq-item.open .faq-question::before {
    content: "[-]";
}

/* animated container */
.faq-answer {
    max-height: 0;
    overflow: hidden;
    background: var(--soft-bg);
    transition: max-height 0.35s ease, padding 0.35s ease;
}

/* open state */
.faq-item.open .faq-answer {
    max-height: 200px;
    padding: .7rem 1rem;
}

.faq-answer p {
    margin: 0;
    color: var(--text-secondary);
    line-height: 1.6;
    font-size: 0.8rem;
}

/* ===================
   MOBILE
=================== */

@media (max-width: 768px) {

    .faq-page {
        padding: 1rem;
        width: 100%;
    }

    .faq-item summary {
        font-size: 0.9rem;
    }

}