.faq-page {
    height: 100%;
    padding: 1.5rem;
    width: 500px;
    overflow-y: auto;
}

.faq-header {
    margin-bottom: 1.5rem;
}

.faq-header h2 {
    color: var(--accent);
    margin-bottom: 0.3rem;
}

.faq-header p {
    color: var(--text-secondary);
    font-size: 0.9rem;
}

/* ===================
FAQ ITEMS
=================== */

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.faq-item {
    border: 1px solid var(--border);
    border-radius: 10px;
    overflow: hidden;
    background: var(--soft-bg);
}

.faq-item summary {
    cursor: pointer;
    padding: 1rem;
    list-style: none;
    font-weight: 400;
    font-size: .8rem;
    user-select: none;
}

.faq-item summary::-webkit-details-marker {
    display: none;
}

.faq-item summary::before {
    content: "[+] ";
    color: var(--accent);
    font-family: var(--font-mono);
}

.faq-item[open] summary::before {
    content: "[-] ";
}

.faq-item p {
    padding: 1rem;
    color: var(--text-secondary);
    line-height: 1.6;
    background-color: var(--soft-bg);
}

/* ===================
   MOBILE
=================== */

@media (max-width: 768px) {

    .faq-page {
        padding: 1rem;
        width: 100%;
    }

    .faq-item summary {
        font-size: 0.9rem;
    }

}