body {
    font-family: var(--font-main);
    background: var(--bg-primary);
    color: var(--text-primary);

    overflow: hidden;

    transition:
        background var(--transition-normal),
        color var(--transition-normal);
}

#root {
    width: 100vw;
    height: 100vh;
}