body {
    font-family: var(--font-main);
    background: var(--bg-primary);
    color: var(--text-primary);

    overflow: hidden;

    transition:
        background var(--transition-normal),
        color var(--transition-normal);
}

#root {
    width: 100vw;
    height: 100vh;
}

.theme-btn{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50px;
    max-height: 40px;
    margin: 10px;
}

.theme-btn img {
    width: 50px;
    height: auto;
}

.mushroom {
    display: none;
}