@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    /* Animation */
    --transition-fast: 0.2s ease;
    --transition-normal: 0.3s ease;

    /* Window */
    --window-radius: 14px;

    /* Layout */
    --desktop-padding: 24px;

    /* Shadows (soft modern elevation) */
    --shadow-window:
        0 10px 30px rgba(0, 0, 0, 0.12);

    /* Fonts */
    --font-main: 'Nunito Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --font-mono: 'Geist Mono',  ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}

[data-theme='light'] {
    --bg-primary: #f5f7fb;
    --bg-secondary: #ffffff;

    --window-bg: rgba(255, 255, 255, 0.85);

    --accent: orange;        
    --accent-light: #6366f1;

    --text-primary: #0f172a;
    --text-secondary: #475569;

    --border: #e2e8f0;

    /* subtle decorative waves */
    --wave-1: #c7d2fe;
    --wave-2: #a5b4fc;
    --wave-3: #818cf8;

    --header-bg: #0f172a;
    --header-text: #ffffff;

    /* UI states */
    --soft-bg: rgba(79, 70, 229, 0.06);
    --hover-bg: rgba(79, 70, 229, 0.10);
}

[data-theme='dark'] {
    --bg-primary: #0b1220;
    --bg-secondary: #111827;

    --window-bg: rgba(17, 24, 39, 0.85);

    --accent: #60a5fa;
    --accent-light: #93c5fd;

    --text-primary: #f8fafc;
    --text-secondary: #cbd5e1;

    --border: #1f2937;

    /* subtle animated waves */
    --wave-1: #1e293b;
    --wave-2: #334155;
    --wave-3: #475569;

    --header-bg: #f8fafc;
    --header-text: #0f172a;

    /* UI states */
    --soft-bg: rgba(96, 165, 250, 0.08);
    --hover-bg: rgba(96, 165, 250, 0.14);
}