.waves-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.wave-1 {
    opacity: 0.8;
    height: 300px;
}

.wave-2 {
    opacity: 0.6;
    height: 250px;
}

.wave-3 {
    opacity: 0.4;
    height: 230px;
}