.window {
    position: absolute;
    max-width: 600px;
    min-width: 400px;
    max-height: 600px;
    min-height: 350px;
    background: var(--window-bg);
    border: 1px solid var(--border);
    border-radius: var(--window-radius);
    box-shadow: var(--shadow-window);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.window-body {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem .7rem;
    background: var(--header-bg);
    color: var(--header-text);
    font-size: .8rem;
}

.window-header h3 {
    font-family: var(--font-mono);
    font-weight: 100;
}

.window-header button {
    border: none;
    background: transparent;
    color: inherit;
    cursor: pointer;
    font-family: var(--font-main);
}